 <form onsubmit="addMessagechat(this)">
        <input type="text" id="name" placeholder="Nombre"> <br>
        <input type="text" id="apellido" placeholder="Apellido"> <br>
        <input type="number" id="edad" placeholder="Edad"> <br>
        <input type="text" id="alias" placeholder="Alias"> <br>
        <input type="email" id="username" placeholder="E-mail"> <br>
        <input type="text" id="texto" placeholder="Your Message"><br>
        <input type="submit" value="enviar"><br>
    </form>