

<h2>Guardar  producto</h2>


    <form id="form" onsubmit="addNew(this)">
        <input id="nameProduct"  name="nameProduct" type="text">Ingrese nombre de producto
        <br>
        <input id="priceProduct" name="priceProduct" type="text">Ingrese precio del producto
        <br>
        <input type="submit" value="Guardar">
    </form>
