   
  
    <form  onsubmit="addNew(this)">
        <input type="text">Nombre Producto
        <input type="text">Precio
        <input type="text">URL foto
        <button type="submit">Loguear</button>

    </form>