   
   <table>
       
        <tr> 
              <td><strong>Producto</strong></td>
              <td><strong>Precio </strong></td>
        
          
        </tr>
        <tr>
            <div id="messages"></div>
        </tr>
        
    </table>