<h1>Bienvenido</h1>

<form action="/login">
    <div class="form-group">
        <input type="submit" value="login">
    </div>
</form>

OR

<form action="/signup">
    <div class="form-group">
        <input type="submit" value="Sign Up">
    </div>
</form>